{% extends 'app/includes/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home-edit.css' %}">    
{% endblock extra_css %}

{% block title %}
    授業追加
{% endblock title %}


{% block content %}
    <main class="container">
        
        <a class="btn btn-outline-secondary mb-3" href="{% url 'app:index' %}?edit_mode=on">
            <i class="bi bi-arrow-left"></i>戻る
        </a>
        <div class="nav nav-tabs">
            <button class="nav-link class-form active" type="button">
                新しい授業を追加
            </button>
            <button class="nav-link schedule-form" type="button">
                既存の授業から追加
            </button>
        </div>

        <div class="edit-card">
            <div class="tab-content">
                
                <div class="tab-item class-form active">
                    <form method="post">
                        {% csrf_token %}
                        <p>
                            
                            {{ class_form.class_name.label_tag }}
                            {{ class_form.class_name }}

                            {{ class_form.classroom_name.label_tag }}
                            {{ class_form.classroom_name }}

                            {{ class_form.professor_name.label_tag }}
                            {{ class_form.professor_name }}

                            {{ class_form.color.label_tag }}

                            <div class="color-radio-grid">
                                {% for color_radio in class_form.color %}
                                <div class="color-option">
                                    {{ color_radio.tag }} <label for="{{ color_radio.id_for_label }}" style="background-color: {{ color_radio.data.value }};">
                                        {{ color_radio.choice_label }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </p>
                        <div style="display: none;">
                            {{ schedule_form }}
                        </div>
                        <button class="btn btn-submit mt-3" type="submit">決定</button>
                    </form>
                </div>

                <div class="tab-item schedule-form fading-out">
                    <form method="post">
                        {% csrf_token %}
                        <div style="display: none;">
                            {{ class_form }}
                        </div>
                        {{ schedule_form.as_p }}
                        <button class="btn btn-submit mt-3" type="submit">決定</button>
                    </form>
                </div>
                
            </div>
        </div>
    </main>
{% endblock content %}


{% block extra_js %}
    <script src="{% static 'js/homeEdit.js' %}"></script>
{% endblock extra_js %}